.DS_Store
*.log
.env
.env.*
.vscode/

venv/
*.pyc
__pycache__/
.pytest_cache/

models/
outputs/
tmp/

frontend/node_modules/

frontend/dist/
frontend/dist-ssr/

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/*.local